[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs
*.user
.idea
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
msvc
out
CMakeSettings.json
build/
test/replays/
*.backup
*.current
src/DemoAIModule_[A-Z].cpp
BrooDat.mpq
Patch_rt.mpq
StarDat.mpq
